
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card border-light shadow">
            <form  class="needs-validation" novalidate="">
                <div class="card-header bg-info mb-3 ">
                    <h4 class="text-white">Cập Nhật Thông Tin Nhân Viên</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Họ và tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required="" name="HoTen" value="{{datas.HoTen}}" [(ngModel)]="datas.HoTen">
                            <div class="invalid-feedback">
                                What's your name?
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" required="" name="Email" value="{{datas.Email}}" [(ngModel)]="datas.Email">
                            <div class="invalid-feedback">
                                Oh no! Email is invalid.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mật khẩu</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="MatKhau" value="{{datas.MatKhau}}" [(ngModel)]="datas.MatKhau">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="SDT" value="{{datas.SDT}}" [(ngModel)]="datas.SDT">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="DiaChi" value="{{datas.DiaChi}}" [(ngModel)]="datas.DiaChi">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>                  
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hình ảnh</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Admin</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="Admin" value="{{datas.Admin}}" [(ngModel)]="datas.Admin">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lý Lịch</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="LyLich" value="{{datas.LyLich}}" [(ngModel)]="datas.LyLich">
                            <div class="valid-feedback">
                                Good job!
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Chức Vụ</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="ChucVu" value="{{datas.ChucVu}}" [(ngModel)]="datas.ChucVu">
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-outline-info" (click)="editEmployee()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>